In [0]:

import pandas as pd
import numpy as np

data_train = pd.read_csv('gdrive/My Drive/train.csv')
data_test = pd.read_csv('gdrive/My Drive/test.csv')

In [30]:
data_train.head(4)

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1

[4 rows x 5 columns]

Checking whether the dataset is imbalanced. 
Thankfully, its not.

In [31]:
from collections import Counter
Counter(data_train.target.values)

Counter({0: 4342, 1: 3271})

In [0]:
y = data_train[["id","target"]]

In [0]:
data_train = data_train.drop(["target"],axis=1)

Lets combine train and test datasets so that preprocessing can be done simultaneously.

In [34]:
data = pd.concat([data_train,data_test],axis=0)
len(data) == len(data_test) + len(data_train)

True

In [0]:
text = data.text.values

Lets clean some tweets. 


*   What I noticed was some tweets had links, which can be removed.
*   Some tweets had text like "x89Û_" and so on. 
*   Removed usernames text followed by @
*   Removed stop words.

In [36]:
import nltk
import string
from string import digits
import re
from nltk import word_tokenize
from nltk.corpus import stopwords

nltk.download('stopwords')
stop = set(stopwords.words('english'))
for i in range(len(text)):
    
    text[i] = re.sub(r'http\S+', '', text[i])
    text[i] = re.sub(r'https\S+', '', text[i])
    text[i] = re.sub("\n","",text[i])
    text[i] = re.sub(":","",text[i])
    text[i] = re.sub("&gt","",text[i])
    text[i] = re.sub('@[^\s]+','',text[i])
    text[i] = re.sub("-","",text[i]) #see
    text[i] = re.sub("crash&gt","crash",text[i])
    text[i] = re.sub("tee\x89Û_","",text[i])
    
    text[i] = re.sub("CarolinaåÊAblaze","Carolina Ablaze",text[i])
    text[i] = re.sub("\nme","",text[i])
    text[i] = re.sub("\nmom","",text[i])
    text[i] = re.sub("\n\nIn","",text[i])
    text[i] = re.sub("GtxRWm","",text[i])
    text[i] = re.sub("yycstorm","",text[i])
    text[i] = re.sub("&amp","",text[i])
    text[i] = re.sub("CityofCalgary","Calgary",text[i])
    text[i] = re.sub("\x89ã¢","",text[i])
    text[i] = re.sub("\x89Û_","",text[i])
    text[i] = re.sub("\x89ÛÒ","",text[i])
    text[i] = re.sub("XrWn","",text[i])
    text[i] = re.sub("NOOOOOOOOO","",text[i])
    text[i] = re.sub("Ayyo dei.","",text[i])
    text[i] = re.sub("stormchase","Storm",text[i])
    text[i] = re.sub("#AR #NC #OK","#Arizona #New York #Oklahoma",text[i])
    text[i] = re.sub("BathAndNorthEastSomerset","North east Somerset",text[i])
    text[i] = re.sub('tnwx', '', text[i])
    text[i] = re.sub("\x89ÛÏ#HannaPH\x89Û\x9d","",text[i])
    text[i] = re.sub("JapÌ_n","Japan",text[i])
    
    
    text[i] = re.sub("goooooooaaaaaal","goal",text[i])
    text[i] = re.sub("#explodingkittens\x89Û_ https://t.co/TFGrAyuDC5","",text[i] )
    text[i] = re.sub("#explodingkittens\x89Û_ https://t.co/TFGrAyuDC5","",text[i] )
    text[i] = re.sub("gameofkittens","game of kittens",text[i])
    text[i] = re.sub("looooool","lol",text[i])
    
    text[i] = re.sub("SOOOO","so",text[i])
    text[i] = re.sub(r'\W+', ' ', text[i])
    text[i] = re.sub("TampaBay","Tampa Bay", text[i])
    text[i] = re.sub("NearFatal","Near Fatal",text[i])
    text[i] = re.sub("FortWorth","Fort Worth",text[i])
    text[i] = re.sub("NowPlaying","Now Playing",text[i])
    text[i] = re.sub("OtleyHour","Otley Hour",text[i])
    text[i] = re.sub("BayArea","Bay Area",text[i])
    text[i] = re.sub("NashvilleTraffic","Nashville Traffic",text[i])
    text[i] = re.sub("ElBestia","El Bestia",text[i])
    text[i] = re.sub("TruckCrash","Truck Crash",text[i])
    text[i] = re.sub("RockyFire","Rocky Fire", text[i])
    text[i] = re.sub("CAfire","California fire",text[i])
    text[i] = re.sub("personalinjury","personal injury",text[i])
    text[i] = re.sub("SantaClara","Santa Clara",text[i])
    text[i] = re.sub("ArrestPastorNganga","Arrest",text[i])
    text[i] = re.sub("GrowingUpSpoiled","",text[i])
    text[i] = re.sub("AberyrtwythShrewsbury","Shrewsbury",text[i])
    text[i] = re.sub("WildHorses","Wild Horses",text[i])
    text[i] = re.sub("TantoNationalForest","Tanto National Forest",text[i])
    text[i] = re.sub("SaltRiverWildHorses","Salt River Wild Horses",text[i])
    text[i] = re.sub("ReadingApocalypse","Reading Apocalypse",text[i])
    text[i] = re.sub("GeekApocalypse","Geek Apocalypse",text[i])
    text[i] = re.sub("DrAyesha","Dr Ayesha",text[i])
    text[i] = re.sub("IndiaKoMunTorJawabDoIndian","India",text[i])
    text[i] = re.sub("ChicagoArea","Chicago Area",text[i])
    text[i] = re.sub("SanFrancisco","San Francisco",text[i])
    text[i] = re.sub("NewYork","New York",text[i])
    text[i] = re.sub("ColaradoAvalanche","Colarado Avalanche",text[i])
    text[i] = re.sub("BioterrorismMass","BioTerrorism Mass",text[i])
    text[i] = re.sub("TranscendBlazing","Transcend Blazing",text[i])
    text[i] = re.sub("AntiBlight","Anti Blight",text[i])
    text[i] = re.sub("RevolutionBlight","Revolution Blight",text[i])
    text[i] = re.sub("BellyBombed","Belly Bomb",text[i])
    text[i] = re.sub("BanTheBomb","Ban The Bomb",text[i])
    text[i] = re.sub("TrainTragedy","Train Tragedy",text[i])
    text[i] = re.sub("MultiCasualty","Multi Casualty",text[i])
    text[i] = re.sub("PropertyCasualty","Propery Casualty",text[i])
    text[i] = re.sub("CollisionNo","Collision",text[i])
    text[i] = re.sub("CollisionUnkn","Collision",text[i])
    text[i] = re.sub("INCIDENTCrash","Incident Crash",text[i])
    text[i] = re.sub("BoltåÊCyclone","Cyclone",text[i])

    remove_digits = str.maketrans('', '', digits)
    text[i] = text[i].translate(remove_digits)
    text[i] = text[i].translate(str.maketrans('', '', string.punctuation))
    text[i] = re.sub(r'\b\w{1,2}\b', '', text[i])
    text[i] = [i for i in text[i].lower().split() if i not in stop]
    text[i] = " ".join(text[i])

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [37]:
data.head(4)

   id keyword location                                               text
0   1     NaN      NaN          deeds reason earthquake may allah forgive
1   4     NaN      NaN                 forest fire near ronge sask canada
2   5     NaN      NaN  residents asked shelter place notified officer...
3   6     NaN      NaN  people receive wildfires evacuation orders cal...

# Dealing with missing keyword values.

In [0]:
keywords = list(data[~data.keyword.isna()].keyword.values)

In [39]:
list(set(keywords))[:10]

['destroyed',
 'body%20bags',
 'sirens',
 'traumatised',
 'rescue',
 'sunk',
 'battle',
 'blew%20up',
 'rescuers',
 'forest%20fire']

Certain keywords had "%20" in them. Lets clean them first.

In [0]:
for i in range(len(keywords)):
    if "%20" in keywords[i]:
        keywords[i] = keywords[i].split("%20")[0]+"_"+keywords[i].split("%20")[1]

Now we have proper keywords. (Some with "_", but thats okay for now). 
Lets add them back to the dataset.

In [41]:
data_keyword = data[~data.keyword.isna()]
data_wo_keyword = data[data.keyword.isna()]

data_keyword.keyword = keywords
data = data_keyword.append(data_wo_keyword,ignore_index=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Lets divide the dataset into the collection of samples which have keyword value and collection of samples which has NA keyword value.

In [0]:
data_missing_keyword = data[data.keyword.isna()]
data_non_missing_keyword = data[~data.keyword.isna()]

In [0]:
to_find_keyword = data_missing_keyword.text.values.tolist()

Keyword has to exist in tweets, thats the basic idea. We will check corresponding tweets to check if a keyword is present in that particular tweet.

Basic preprocessing of tweets before we proceed.

In [44]:
for i in range(len(to_find_keyword)):
    to_find_keyword[i] = to_find_keyword[i].lower()
    to_find_keyword[i] = to_find_keyword[i].split(" ")

len(to_find_keyword)

87

In [0]:
set_keywords = set(keywords)

lets look at the tweets and see if theres a matching keyword present in them.

In [0]:
lst = np.ones(87)
lst = lst.tolist()
# lst = []
def fill_keywords():
  for i in range(len(to_find_keyword)):
      for j in range(len(to_find_keyword[i])):
          if to_find_keyword[i][j] in tuple(set_keywords):
              lst[i] = to_find_keyword[i][j]
          elif j!=len(to_find_keyword[i])-1 and (to_find_keyword[i][j]+"_"+to_find_keyword[i][j+1] in tuple(set_keywords)):
              lst[i]= to_find_keyword[i][j]+"_"+to_find_keyword[i][j+1]

fill_keywords()

In [0]:
non_related = [i for i in range(len(lst)) if lst[i]==1]

These are the tweets which do not have any existing keywords present in them.

In [51]:
for i in non_related:
    print(i,to_find_keyword[i])

15 ['man']
16 ['love', 'fruits']
17 ['summer', 'lovely']
18 ['car', 'fast']
19 ['goal']
20 ['ridiculous']
21 ['london', 'cool']
22 ['love', 'skiing']
23 ['wonderful', 'day']
24 ['looooool']
25 ['way', 'eat', 'shit']
26 ['nyc', 'last', 'week']
27 ['love', 'girlfriend']
28 ['cooool']
29 ['like', 'pasta']
30 ['end']
67 ['probably', 'still', 'show', 'life', 'arsenal', 'yesterday']
68 ['hey']
69 ['nice', 'hat']
70 ['fuck']
71 ['like', 'cold']
72 ['']
73 ['tell']
74 ['']
75 ['awesome']

Lets create a new keyword, "random".

In [0]:
for i in range(len(lst)):
    if lst[i] == 1:
        lst[i] = "random"

Combine the two datasets back to one.

In [53]:
data_missing_keyword.keyword = lst
data = data_missing_keyword.append(data_non_missing_keyword,ignore_index=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Converting string into list of words. For ease during the next phase of data engineering.

In [0]:
text = data.text.values
for i in range(len(text)):    
    text[i] = [i for i in text[i].lower().split()]

In [55]:
data.head(4)

   id     keyword location                                               text
0   1  earthquake      NaN   [deeds, reason, earthquake, may, allah, forgive]
1   4        fire      NaN          [forest, fire, near, ronge, sask, canada]
2   5  evacuation      NaN  [residents, asked, shelter, place, notified, o...
3   6  evacuation      NaN  [people, receive, wildfires, evacuation, order...

# Dealing with Location data.

In [0]:
data_location= data[~data.location.isna()]
data_location_na= data[data.location.isna()]

In [0]:
lc = data_location.location.values

Lets use a python package called "geotext". This package easily finds out if a string has city or country names in it.



1.   But the requirement of geotext is that it needs city/country names to begin with a capital letter. Hence, small transformation of data is needed.

In [58]:
for i in range(len(lc)):
    lc[i] = " ".join(w.capitalize() for w in lc[i].split())
lc

array(['Birmingham', 'Est. September 2012 - Bristol', 'Africa', ...,
       'Acey Mountain Islanddåçtorontoåè', 'Los Angeles',
       'Brussels, Belgium'], dtype=object)

As we can see, location values are to be cleaned too.

In [59]:
!pip install geotext

Collecting geotext
  Downloading https://files.pythonhosted.org/packages/25/c5/36351193092cb4c1d7002d2a3babe5e72ae377868473933d6f63b41e5454/geotext-0.4.0-py2.py3-none-any.whl (2.0MB)
     |████████████████████████████████| 2.0MB 3.4MB/s
Installing collected packages: geotext
Successfully installed geotext-0.4.0

First lets see if the string has a city name in it. If not found, lets search for a country name. If that fails too, lets use "unknown".

In [0]:
from geotext import GeoText


lstk = []
for i in range(len(lc)):

    places = GeoText(lc[i])
    if len(places.cities)>=1:
        lstk.append(places.cities)
    elif len(places.countries)>=1:
        lstk.append(places.countries)
    else:
        lstk.append("unknown")

In [62]:
lstk[:10]

[['Birmingham'],
 ['Bristol'],
 'unknown',
 ['Philadelphia'],
 ['London'],
 ['Pretoria'],
 'unknown',
 'unknown',
 'unknown',
 'unknown']

In [63]:
len(lc) == len(lstk)

True

Combination of strings and lists, Doesn't look so good :P

In [0]:
for i in range(len(lstk)):
    if type(lstk[i])==list:
        lstk[i] = ' '.join(lstk[i])

Location also has some values such as "of" and "man". Lets remove those.

In [0]:
for i in range(len(lstk)):
    lstk[i] = re.sub(r'\W+', ' ', lstk[i])
    lstk[i] = lstk[i].lower()
    if lstk[i] == "of" or lstk[i] == "man":
        lstk[i] = "unknown"

In [66]:
data_location.location= lstk
data = data_location.append(data_location_na,ignore_index=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [0]:
lstk_unique = list(set(lstk))

Now we have cleaned our location column of NON-NA location samples. Next step is to impute locations for NA samples.

In [0]:
data1 = data[data.location.isna()]
data2 = data[~data.location.isna()]

In [0]:
allNotExistingCorpus = data1.text.values.tolist()

Lets see if a particular location exists in tweet. otherwise, there is noway we can infer.

In [0]:
arr1 = ["unknown" for i in range(len(data1))]
for i in range(len(arr1)):
    for j in range(len(lstk_unique)):
        if lstk_unique[j] in allNotExistingCorpus[i] and i<len(arr1):
            arr1[i] = lstk_unique[j]
        elif "nyc" in allNotExistingCorpus[i]:
            arr1[i] = "new york"

In [72]:
arr1[:10]

['unknown',
 'canada',
 'unknown',
 'unknown',
 'unknown',
 'unknown',
 'colorado',
 'unknown',
 'unknown',
 'unknown']

In [73]:
data1.location = arr1
data = data1.append(data2,ignore_index=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

We have, to a certain extent, cleaned the data. Lets transform data to the required format for our model.

Our y has both targets and ids. Lets use that to separate our main dataset, Also lets sort according to id since we have separated and appeneded multiple times.

In [0]:
train = data[data.id.isin(y.id)]
test = data[~data.id.isin(y.id)]

train = train.sort_values('id')
test = test.sort_values('id')

Lets get the required arrays.

In [0]:
keyword = train.keyword.values
location = train.location.values
text_ = train.text.values

In [0]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

To tokenize the three arrays.

In [0]:

def tokenize(num, list_arr):
  num = num #max size of library
  name_tokenizer = Tokenizer(num_words=num)
  name_tokenizer.fit_on_texts(list(list_arr))
  name_tokenized_list = name_tokenizer.texts_to_sequences(list(list_arr))

  #if the library ends up smaller then the max size, update the info
  if len(name_tokenizer.word_index) < num:
      num = len(name_tokenizer.word_index)
      
  print('Number of words:', num)
  pad_name = len(max(name_tokenized_list,key=len))
  final_array = pad_sequences(name_tokenized_list, maxlen=pad_name, padding='post')

  return num, name_tokenizer, name_tokenized_list, pad_name, final_array

In [82]:
max_num_word_text, tokenizer_text, list_tokenized_text, pad_max_text, text_array = tokenize(100000, text_)

Number of words: 14016

In [83]:
max_num_word_keyword, tokenizer_keyword, list_tokenized_keyword, pad_max_keyword, keyword_array = tokenize(100000, keyword)

Number of words: 230

In [84]:
max_num_word_location, tokenizer_location, list_tokenized_location, pad_max_location, location_array = tokenize(100000, location)

Number of words: 857

One hot encoding target values.

In [85]:
from keras.utils import np_utils
print(pad_max_keyword,pad_max_location,pad_max_text)
y = y.target.values
y=np_utils.to_categorical(y,2)

2 4 21

A simple LSTM model along with separate embeddings for the three arrays.

In [0]:
import keras
from keras.layers import Concatenate, Dense, Dropout, Flatten, LSTM
from keras.models import Model
from keras.layers import Input, Reshape, Dot
from keras.layers.embeddings import Embedding
from keras.optimizers import Adam
from keras.regularizers import l2
from keras.layers import Add, Activation, Lambda, Conv1D, MaxPool1D
from keras.layers import Bidirectional, SpatialDropout1D

def disaster_or_not():

    key = Input(shape=(pad_max_keyword,))
    k = Embedding(max_num_word_keyword+1, 50)(key)
    k = Flatten()(k)

    location = Input(shape=(pad_max_location,))
    l = Embedding(max_num_word_location+1, 50)(location)
    l = Flatten()(l)

    tweet = Input(shape=(pad_max_text,))
    t = Embedding(max_num_word_text+1, 50)(tweet)
    t = Flatten()(t)

    x = Concatenate()([k, l, t])
    x = Reshape((1,1350))(x)
    x = SpatialDropout1D(0.4)(x)
    x = LSTM(256, dropout=0.2, recurrent_dropout=0.2) (x)
    x = Activation('relu')(x)

    x = Dense(2, activation="softmax")(x)
    
    model = Model(inputs=[key, location, tweet], outputs=x)
    opt = Adam(lr=0.001)
    model.compile(loss='binary_crossentropy', optimizer=opt,metrics=['accuracy'])
    return model

In [91]:
model = disaster_or_not()
model.summary()

Model: "model_3"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_7 (InputLayer)            (None, 2)            0
__________________________________________________________________________________________________
input_8 (InputLayer)            (None, 4)            0
__________________________________________________________________________________________________
input_9 (InputLayer)            (None, 21)           0
__________________________________________________________________________________________________
embedding_7 (Embedding)         (None, 2, 50)        11550       input_7[0][0]
__________________________________________________________________________________________________
embedding_8 (Embedding)         (None, 4, 50)        42900       input_8[0][0]
__________________________________________________________________________________________________
embedding_9 (Embedding)         (None, 21, 50)       700850      input_9[0][0]
__________________________________________________________________________________________________
flatten_7 (Flatten)             (None, 100)          0           embedding_7[0][0]
__________________________________________________________________________________________________
flatten_8 (Flatten)             (None, 200)          0           embedding_8[0][0]
__________________________________________________________________________________________________
flatten_9 (Flatten)             (None, 1050)         0           embedding_9[0][0]
__________________________________________________________________________________________________
concatenate_3 (Concatenate)     (None, 1350)         0           flatten_7[0][0]
                                                                 flatten_8[0][0]
                                                                 flatten_9[0][0]
__________________________________________________________________________________________________
reshape_3 (Reshape)             (None, 1, 1350)      0           concatenate_3[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_3 (SpatialDro (None, 1, 1350)      0           reshape_3[0][0]
__________________________________________________________________________________________________
lstm_3 (LSTM)                   (None, 256)          1645568     spatial_dropout1d_3[0][0]
__________________________________________________________________________________________________
activation_3 (Activation)       (None, 256)          0           lstm_3[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 2)            514         activation_3[0][0]
==================================================================================================
Total params: 2,401,382
Trainable params: 2,401,382
Non-trainable params: 0
__________________________________________________________________________________________________

One epoch seems to work the best.

In [102]:
history = model.fit(x=[keyword_array, location_array, text_array], y=y, batch_size=32, epochs=1,verbose=1)

Epoch 1/1
7613/7613 [==============================] - 3s 349us/step - loss: 0.3175 - acc: 0.8725

To predict.

In [0]:
keyword_test = test.keyword.values
location_test = test.location.values
text_test = test.text.values

test_tok = tokenizer_text.texts_to_sequences(list(text_test))
text_array_test = pad_sequences(test_tok, maxlen=pad_max_text, padding='post')

test_key = tokenizer_keyword.texts_to_sequences(list(keyword_test))
key_array_test = pad_sequences(test_key, maxlen=pad_max_keyword, padding='post')

test_loc = tokenizer_location.texts_to_sequences(list(location_test))
loc_array_test = pad_sequences(test_loc, maxlen=pad_max_location, padding='post')

In [0]:

preds = model.predict([key_array_test, loc_array_test, text_array_test])

In [0]:
preds_final = []
for i in preds:
  preds_final.append(i.argmax())

In [107]:
preds_final[:10]

[1, 1, 1, 1, 1, 1, 0, 0, 0, 0]